@font-face {
  font-family: 'Pokemon';
  src: url('./Pokemon_Solid/pocketmonk-15ze-webfont.woff2') format('woff2'),
      url('./Pokemon_Solid/pocketmonk-15ze-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.container{
  text-align: center;
}

/* Pour partie gauche */

#select1 {

  margin-top: 1%;
  margin-left: 2.5%;
}

#pic1 {
  image-rendering: optimizespeed;
  image-rendering: pixelated;
  border-radius: 30%;
  border: solid;
  background: linear-gradient(to left, #c62d1f 50%, #ffffff 50%);
  width: 40%;
  margin-top: 15px;
}

.pokemon__icons1{
  position: absolute;
  top: 35px;
  left: 415px;
}

#random1 {

  box-shadow: 0px 5px #312f2f;
  background: linear-gradient(to bottom, #c62d1f 55%, #ffffff 50%);
  background-color: #c62d1f;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  margin-top: 10px;
}

#random1:hover {
  background: linear-gradient(to bottom, #f24437 50%, #ffffff 50%);
  background-color: #f24437;
}

#random1:active {
  position: relative;
  top: 1px;
  background-color: #3e8e41;
  box-shadow: 0px 3px #0b0500;
  transform: translateY(4px);
}

#icon1, #icon1-alola, #icon1-galar, #icon1-mega {

  image-rendering: optimizespeed;
  image-rendering: pixelated;
  display: none;
  width: 150%;

}

#icon1-megax, #icon1-megay, #icon1-alola1, #icon1-galar1, #icon1-gigan, #icon1-altform, #icon1-altform2, #icon1-altgalarform2, #icon1-altform3, #icon1-altform4, #icon1-altform5 {

  image-rendering: optimizespeed;
  image-rendering: pixelated;
  display: none;
  width: 150%;
}

/* Pour partie milieu */

#pic3 {

  image-rendering: optimizespeed;
  image-rendering: pixelated;
  border-radius: 30%;
  border: solid;
  background: linear-gradient(to left, #c62d1f 50%, #ffffff 50%);
  width: 40%;
}

#random3 {

  box-shadow: 0px 5px #312f2f;
  background: linear-gradient(to bottom, #c62d1f 55%, #ffffff 50%);
  background-color: #c62d1f;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  margin-top: 10px;
}

#random3:hover {
  background: linear-gradient(to bottom, #f24437 50%, #ffffff 50%);
  background-color: #f24437;
}

#random3:active {
  position: relative;
  top: 1px;
  background-color: #3e8e41;
  box-shadow: 0px 3px #0b0500;
  transform: translateY(4px);
}

#shiny {

  margin-top: 10px;
  display: block;
  pointer-events: visible;

}

#shiny h2, #options3 h2, #options4 h2, #MegaOp1 h2, #MegaOp2 h2, #options6 h2, #options7 h2, #MegaOp1X h2, #MegaOp1Y h2, #MegaOp2X h2, #MegaOp2Y h2, #options8 h2 {

  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1%;

}

.pokemon__text {
  font-family: Pokemon, Arial, sans-serif;
  text-transform: uppercase;
  color: #ffcb05;
  text-shadow: 3px 0 0 #153f78, -3px 0 0 #153f78, 0 3px 0 #153f78, 0 -3px 0 #153f78, 2px 2px #153f78, -2px -2px 0 #153f78, 2px -2px 0 #153f78, -2px 2px 0 #153f78;
  text-align: center;
  margin-top: 2%;
  font-size: 350%;
}

/* Pour partie droite */

#select2 {

  margin-top: 1%;
  margin-left: 2.5%;
}

#pic2 {
  image-rendering: optimizespeed;
  image-rendering: pixelated;
  border-radius: 30%;
  border: solid;
  background: linear-gradient(to left, #c62d1f 50%, #ffffff 50%);
  width: 40%;
  margin-top: 15px;
}

.pokemon__icons2 {
  position: absolute;
  top: 35px;
  right: 445px;
}

#random2 {

  box-shadow: 0px 5px #312f2f;
  background: linear-gradient(to bottom, #c62d1f 55%, #ffffff 50%);
  background-color: #c62d1f;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  margin-top: 10px; 
}

#random2:hover {
  background: linear-gradient(to bottom, #f24437 50%, #ffffff 50%);
  background-color: #f24437;
}

#random2:active {
  position: relative;
  top: 1px;
  background-color: #3e8e41;
  box-shadow: 0px 3px #0b0500;
  transform: translateY(4px);
}

#icon2, #icon2-alola, #icon2-galar, #icon2-mega {

  image-rendering: optimizespeed;
  image-rendering: pixelated;
  display: none;
  width: 150%;

}

#icon2-megax, #icon2-megay, #icon2-alola1, #icon2-galar1, #icon2-gigan, #icon2-altform, #icon2-altform2, #icon2-altgalarform2, #icon2-altform3, #icon2-altform4, #icon2-altform5 {

  image-rendering: optimizespeed;
  image-rendering: pixelated;
  display: none;
  width: 150%;
}

/* Pour faiblesses */

#pokemon__weaknesses{
  margin-top: 90px;
}

/* Pour bouton next poke */

#button__other{
  display: none;
}

/* Pour mobile */

#type1_mobile, #type2_mobile {
  display: none;
}